In [1]:
import pandas as pd
import numpy as np

# Creating, Reading and Writing

In [2]:
us_companies = pd.read_csv('data/us_companies.csv')
raw = us_companies.copy()

In [3]:
us_companies.shape

(529, 22)

In [4]:
us_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_name_id      529 non-null    object
 1   company_name         529 non-null    object
 2   url                  529 non-null    object
 3   year_founded         528 non-null    float64
 4   city                 496 non-null    object
 5   state                529 non-null    object
 6   country              529 non-null    object
 7   zip_code             492 non-null    float64
 8   full_time_employees  500 non-null    object
 9   company_type         513 non-null    object
 10  company_category     526 non-null    object
 11  revenue_source       519 non-null    object
 12  business_model       453 non-null    object
 13  social_impact        16 non-null     object
 14  description          529 non-null    object
 15  description_short    529 non-null    object
 16  source_count         226 non-null    object
 17  data_types           142 non-null    object
 18  example_uses         8 non-null      object
 19  data_impacts         529 non-null    object
 20  financial_info       142 non-null    object
 21  last_updated         529 non-null    object
dtypes: float64(2), object(20)
memory usage: 91.0+ KB

In [5]:
us_companies.head(5)

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,NaN,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802

In [6]:
us_companies.to_excel('output/processed.xlsx')

In [7]:
us_companies.to_parquet('output/us_companies.gzip',compression='gzip')

# Indexing, Selecting & Assigning

In [8]:
us_companies.tail(10)

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
519,xignite,Xignite,http://www.xignite.com/,2000.0,San Mateo,CA,us,94402.0,51-200,Private,...,Business to Business,NaN,Xignite is a provider of market data cloud ser...,Xignite provides financial web services with r...,101+,NaN,NaN,[],NaN,2014-11-12 18:10:01.513299
520,yahoo,Yahoo,http://www.yahoo.com/,1994.0,Sunnyvale,CA,us,94089.0,"10,001+",Public,...,NaN,NaN,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,NaN,NaN,NaN,[],NaN,2014-04-03 19:50:28.628624
521,yei-healthcare,Zebu Compliance Solutions,www.zebucompliance.com,1999.0,Portsmouth,OH,us,45662.0,11-50,Private,...,"Business to Business, Business to Government",NaN,Zebu Compliance Solutions improves medical cod...,Zebu Compliance Solutions improves medical cod...,101+,NaN,NaN,[],We place a high premium on local benefit and l...,2016-06-16 14:00:04.753161
522,yelp,Yelp,http://www.yelp.com/,2004.0,San Francisco,CA,us,94105.0,"1,001-5,000",Public,...,NaN,NaN,"Yelp connects people with boutiques, mechanics...","Yelp, Inc. operates an ""online urban guide"" an...",NaN,NaN,NaN,[],NaN,2014-04-03 20:00:10.916495
523,yourmapper,YourMapper,http://www.yourmapper.com,2005.0,Louisville,KY,us,40204.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,YourMapper allows users to freely visualize an...,YourMapper provides curated civic open geodata...,51-100,NaN,NaN,[],"We are self funded through the two founders, a...",2014-11-12 18:17:14.315919
524,zillow,Zillow,http://www.zillow.com/,2006.0,Seattle,WA,us,98101.0,"1,001-5,000",Public,...,NaN,NaN,Zillow is a home and real estate marketplace d...,Zillow is an online real estate database.,NaN,NaN,NaN,[],NaN,2014-08-21 15:25:48.411679
525,zocdoc,ZocDoc,http://www.zocdoc.com/,2007.0,New York,NY,us,10012.0,"501-1,000",Private,...,NaN,NaN,ZocDoc is a service to help people find and ma...,Patients use ZocDoc to book appointments with ...,NaN,NaN,NaN,[],NaN,2014-04-03 20:10:00.163762
526,zonability,Zonability,http://www.zonability.com/,2003.0,Austin,TX,us,78702.0,11-50,Private,...,"Business to Business, Business to Government, ...",NaN,Zonability is a web application that provides ...,Zonability is a web application that provides ...,NaN,NaN,NaN,[],NaN,2014-11-20 12:45:39.832982
527,zoner,Zoner,www.Zonerapp.com,2011.0,New York,NY,us,10018.0,1-10,Private,...,"Business to Business, Business to Consumer, no...",NaN,<p>Zoner is a Digital Zoning Optimization soft...,Zoner leverages transparency over fear so a pr...,1-10,NaN,NaN,[],NaN,2014-11-12 18:11:48.966303
528,zurich-insurance-risk-room,Zurich Insurance (Risk Room),http://www.zurichna.com/,1912.0,Schaumburg,IL,us,60196.0,"10,001+",Public,...,NaN,NaN,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,NaN,NaN,NaN,[],NaN,2014-04-03 20:05:51.995718

In [9]:
us_companies['company_name']

0              3 Round Stones, Inc.
1                 48 Factoring Inc.
2                       5PSolutions
3                    Abt Associates
4                            Accela
                   ...
524                          Zillow
525                          ZocDoc
526                      Zonability
527                           Zoner
528    Zurich Insurance (Risk Room)
Name: company_name, Length: 529, dtype: object

In [10]:
# iloc
us_companies.iloc[100]

company_name_id                                         code-for-america
company_name                                            Code for America
url                                            http://codeforamerica.org
year_founded                                                      2009.0
city                                                       San Francisco
state                                                                 CA
country                                                               us
zip_code                                                         94103.0
full_time_employees                                               51-200
company_type                                                   Nonprofit
company_category                                              Governance
revenue_source                                      Philanthropic grants
business_model                                    Business to Government
social_impact                                                        NaN
description            Founded in 2009, Code for America (CfA) is a n...
description_short      Code for America helps residents and governmen...
source_count                                                        101+
data_types                                                           NaN
example_uses                                                         NaN
data_impacts                                                          []
financial_info         You can find all of our donors, funder, sponso...
last_updated                                  2014-11-12 14:54:47.183537
Name: 100, dtype: object

## iloc format: [row , column]

### row = x : y
## columns = x : y

In [11]:
# this is when spliting by columns
us_companies.iloc[:,1]

0              3 Round Stones, Inc.
1                 48 Factoring Inc.
2                       5PSolutions
3                    Abt Associates
4                            Accela
                   ...
524                          Zillow
525                          ZocDoc
526                      Zonability
527                           Zoner
528    Zurich Insurance (Risk Room)
Name: company_name, Length: 529, dtype: object

In [12]:
us_companies.iloc[:10,:]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,NaN,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802
5,accenture,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989.0,Chicago,IL,us,60601.0,"10,001+",Public,...,Business to Business,NaN,Accenture delivers its services and solutions ...,"Accenture provides management consulting, tech...",NaN,Health/Healthcare,NaN,[],NaN,2014-09-18 15:44:37.967430
6,accuweather,AccuWeather,http://www.accuweather.com,1962.0,State College,PA,us,16803.0,201-500,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,NaN,Economics,NaN,[],NaN,2014-11-12 14:16:13.464045
7,acxiom,Acxiom,http://acxiom.com,1969.0,Little Rock,AR,us,72201.0,"5,001-10,000",Public,...,Business to Business,NaN,"Acxiom is an enterprise data, analytics and so...","Acxiom is an enterprise data, analytics and so...",101+,NaN,NaN,[],NaN,2014-09-18 16:53:16.538684
8,adaptive,Adaptive,http://www.adaptive.com,2001.0,Irvine,CA,us,92618.0,11-50,Private,...,Business to Business,NaN,Adaptive offers standards-based solutions that...,Adaptive helps organizations leverage what the...,NaN,NaN,NaN,[],NaN,2014-09-18 16:53:46.057500
9,adobe-digital-government,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009.0,San Jose,CA,us,95510.0,"10,001+",Public,...,Business to Government,NaN,Adobe Digital Government is part of Adobe Syst...,Adobe delivers solutions that help government ...,101+,NaN,NaN,[],NaN,2014-09-18 16:54:15.544335

In [13]:
us_companies.iloc[:20,:10]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private
5,accenture,Accenture,http://www.accenture.com/us-en/pages/index.aspx,1989.0,Chicago,IL,us,60601.0,"10,001+",Public
6,accuweather,AccuWeather,http://www.accuweather.com,1962.0,State College,PA,us,16803.0,201-500,Private
7,acxiom,Acxiom,http://acxiom.com,1969.0,Little Rock,AR,us,72201.0,"5,001-10,000",Public
8,adaptive,Adaptive,http://www.adaptive.com,2001.0,Irvine,CA,us,92618.0,11-50,Private
9,adobe-digital-government,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009.0,San Jose,CA,us,95510.0,"10,001+",Public
10,aidin,Aidin,http://www.myAidin.com,2011.0,New York,NY,us,10013.0,1-10,Private
11,alarmcom,Alarm.com,www.alarm.com,2000.0,Leesburg Pike Vienna,VA,us,22182.0,201-500,Private
12,allianz,Allianz,http://www.allianzusa.com,1896.0,New York,NY,us,10019.0,"10,001+",Public
13,allied-van-lines,Allied Van Lines,http://www.allied.com,1928.0,Oakbrook Terrace,IL,us,60181.0,"5,001-10,000",Private
14,allstate-insurance-group,AllState Insurance Group,http://www.allstate.com,1931.0,Northbrook,IL,us,60062.0,"10,001+",Public
15,alltuition,Alltuition,https://www.alltuition.com,2009.0,Chicago,IL,us,60611.0,1-10,Private
16,altova,Altova,http://www.altova.com,1992.0,Beverly,MA,us,1915.0,51-200,Private
17,amazon-web-services,Amazon Web Services,http://aws.amazon.com,2007.0,Seattle,WA,us,98109.0,NaN,Public
18,american-red-ball-movers,American Red Ball Movers,http://www.redball.com,1919.0,Indianapolis,IN,us,46239.0,11-50,Private
19,amida-technology-solutions,Amida Technology Solutions,http://amida-tech.com/index.html,2013.0,Washington,DC,us,20036.0,1-10,Private

## loc

In [14]:
us_companies.loc[0,'url']

'http://3RoundStones.com'

In [15]:
us_companies.loc[:,'url']

0          http://3RoundStones.com
1      https://www.48factoring.com
2              www.5psolutions.com
3                     abtassoc.com
4            http://www.accela.com
                  ...
524         http://www.zillow.com/
525         http://www.zocdoc.com/
526     http://www.zonability.com/
527               www.Zonerapp.com
528       http://www.zurichna.com/
Name: url, Length: 529, dtype: object

In [16]:
us_companies.columns

Index(['company_name_id', 'company_name', 'url', 'year_founded', 'city',
       'state', 'country', 'zip_code', 'full_time_employees', 'company_type',
       'company_category', 'revenue_source', 'business_model', 'social_impact',
       'description', 'description_short', 'source_count', 'data_types',
       'example_uses', 'data_impacts', 'financial_info', 'last_updated'],
      dtype='object')

In [17]:
us_companies.loc[:,['city','state', 'country']]

              city state country
0       Washington    DC      us
1     Philadelphia    PA      us
2          Fairfax    VA      us
3        Cambridge    MA      us
4        San Ramon    CA      us
..             ...   ...     ...
524        Seattle    WA      us
525       New York    NY      us
526         Austin    TX      us
527       New York    NY      us
528     Schaumburg    IL      us

[529 rows x 3 columns]

In [18]:
us_companies.iloc[:,4:7]

              city state country
0       Washington    DC      us
1     Philadelphia    PA      us
2          Fairfax    VA      us
3        Cambridge    MA      us
4        San Ramon    CA      us
..             ...   ...     ...
524        Seattle    WA      us
525       New York    NY      us
526         Austin    TX      us
527       New York    NY      us
528     Schaumburg    IL      us

[529 rows x 3 columns]

## Conditional selection

In [19]:
# how many companies are in Washington??

us_companies.loc[us_companies['city']=='Washington']

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
19,amida-technology-solutions,Amida Technology Solutions,http://amida-tech.com/index.html,2013.0,Washington,DC,us,20036.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,Amida develops patient-centered solutions base...,Amida develops patient-centered solutions base...,NaN,NaN,NaN,[],NaN,2014-11-12 14:44:41.801042
89,civic-impulse-llc,Civic Impulse LLC,https://www.govtrack.us/civicimpulse,2009.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Consumer, Business to Government",NaN,"GovTrack.us, the main project of Civic Impulse...",Civic Impulse builds tools that foster civic p...,NaN,NaN,NaN,[],NaN,2014-11-12 17:10:19.949048
103,college-abacus-an-ecmc-initiative,"College Abacus, an ECMC initiative",https://collegeabacus.org,1994.0,Washington,DC,us,NaN,"501-1,000",Nonprofit,...,NaN,NaN,"An ECMC initiative, College Abacus is a free s...","An ECMC initiative, CollegeAbacus.org provides...",1-10,NaN,NaN,[],"Founded in 2012, College Abacus's initial fund...",2014-08-06 12:32:37.850095
130,development-seed,Development Seed,developmentseed.org,2004.0,Washington,DC,us,20001.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,Development Seed is a creative strategy and en...,"Development Seed helps governments, NGOs, and ...",NaN,NaN,NaN,[],Development Seed was founded in 2004 and has w...,2014-11-12 14:20:37.982875
166,fastcase,Fastcase,fastcase.com,1999.0,Washington,DC,us,20004.0,51-200,Private,...,Business to Business,NaN,Fastcase's mission is to democratize the law a...,Fastcase puts the American law library on desk...,NaN,NaN,NaN,[],"Fastcase is a private company, so we don't pub...",2014-11-12 15:00:51.831597
182,gallup,Gallup,http://www.gallup.com,1969.0,Washington,DC,us,20004.0,"1,001-5,000",Private,...,Business to Business,NaN,Gallup consultants help private and public sec...,Gallup consultants help private and public sec...,NaN,Demographics & Social,NaN,[],NaN,2014-10-09 14:51:45.838533
206,guidestar,GuideStar,http://www.guidestar.org,1994.0,Washington,DC,us,20006.0,51-200,Nonprofit,...,nonprofit,NaN,We believe a strong nonprofit information infr...,GuideStar's mission is to revolutionize philan...,101+,NaN,NaN,[],GuideStar has had multi-million dollar turnaro...,2014-11-12 14:08:44.340791
215,hellowallet,HelloWallet,http://www.hellowallet.com/,2009.0,Washington,DC,us,20037.0,11-50,Private,...,"Business to Business, Business to Consumer",NaN,HelloWallet measures impact via a number of ve...,HelloWallet improves the performance of organi...,NaN,NaN,NaN,[],NaN,2014-11-12 14:34:05.709121
259,knoema,Knoema,http://knoema.com/,2011.0,Washington,DC,us,20000.0,51-200,Private,...,Business to Consumer,NaN,Knoema is a knowledge platform. The basic idea...,Knoema is a knowledge platform used to connect...,101+,NaN,NaN,[],NaN,2014-10-21 14:46:57.869318
266,legcyte,(Leg)Cyte,http://www.legcyte.com,2006.0,Washington,DC,us,20005.0,NaN,Public,...,NaN,NaN,(Leg)Cyte provides tools for Congressional sta...,LegCyte leverages technology to make legislati...,NaN,NaN,NaN,[],NaN,2014-04-07 18:22:36.291277
268,legistorm,LegiStorm,http://www.legistorm.com/,2006.0,Washington,DC,us,20002.0,1-10,Private,...,Business to Consumer,NaN,LegiStorm is a professional's answer to who's ...,LegiStorm is an online source for Congressiona...,NaN,Government Operations,NaN,[],NaN,2014-10-21 15:15:57.963535
285,mapbox,Mapbox,mapbox.com,2011.0,Washington,DC,us,20009.0,11-50,Private,...,"Business to Business, Business to Consumer, Bu...","Citizen engagement and participation, Consumer...",Mapbox is an open source platform for designin...,Mapbox is an open source platform for designin...,11-50,"Geospatial/Mapping, Tourism, Transportation, W...",Mapbox uses open data in a variety of open dat...,"[u'Cost efficiency', u'New or improved product...",Mapbox is growing fast. The company was fully ...,2014-11-18 22:32:44.352385
322,nonprofitmetrics,NonprofitMetrics,https://www.nonprofitmetrics.com,2013.0,Washington,DC,us,20005.0,1-10,Private,...,Business to Business,NaN,NonprofitMetrics is an analytics website that ...,NonprofitMetrics is an analytics website that ...,11-50,NaN,NaN,[],NaN,2014-11-12 17:47:50.445673
332,open-data-nation,Open Data Nation,www.opendatanation.com,2015.0,Washington,DC,us,20011.0,1-10,Private,...,Business to Business,"Citizen engagement and participation, Good gov...",Open Data Nation (opendatanation.com) creates ...,"Open Data Nation creates plug-and-play, produc...",1-10,"Agriculture & Food, Business, Demographics & S...","FIVAR, one of our products, is a web applicati...","[u'Cost efficiency', u'New or improved product...",Open Data Nationâ€™s pricing is structured to in...,2016-06-16 12:57:46.082933
359,personal-inc,"Personal, Inc.",personal.com,2009.0,Washington,DC,us,20007.0,11-50,Private,...,Business to Consumer,NaN,Personal is a digital vault and private networ...,Personal.com provides individuals with secure ...,1-10,NaN,NaN,[],Investors include Steve Case's Revolution Vent...,2014-11-20 13:32:47.272117
488,us-news-schools,U.S. News Schools,http://www.usnews.com/,1983.0,Washington,DC,us,20007.0,NaN,Private,...,NaN,NaN,U.S. News publishes annual print and e-book ve...,US News is a recognized provider of college an...,NaN,NaN,NaN,[],NaN,2014-04-03 21:02:57.319870

In [20]:
us_companies.loc[us_companies['state']=='PA']

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
6,accuweather,AccuWeather,http://www.accuweather.com,1962.0,State College,PA,us,16803.0,201-500,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,NaN,Economics,NaN,[],NaN,2014-11-12 14:16:13.464045
33,aureus-sciences-now-part-of-elsevier,Aureus Sciences (*Now part of Elsevier),http://www.aureus-sciences.com,2000.0,Philadelphia,PA,us,19103.0,11-50,Private,...,Business to Business,NaN,Aureus Science provides Knowledge Management S...,Aureus Sciences provides databases and informa...,NaN,"Health/Healthcare, Science and Research",NaN,[],NaN,2014-09-23 14:45:29.872164
38,azavea,Azavea,azavea.com,2000.0,Philadelphia,PA,us,19107.0,11-50,Private,...,"Business to Business, Business to Government",NaN,Azavea is a certified B Corporation whose miss...,Azavea is a geospatial analysis (GIS) software...,101+,NaN,NaN,[],Azavea is a bootstrap company that does not ha...,2014-11-12 14:38:14.900193
232,infocommerce-group,InfoCommerce Group,http://infocommercegroup.com,2000.0,Bala Cynwyd,PA,us,19004.0,1-10,Private,...,Business to Business,NaN,InfoCommerce Group is a boutique consulting an...,"The InfoCommerce Group helps clients identify,...",101+,NaN,NaN,[],NaN,2014-11-12 15:33:37.572757
265,legal-science-partners,Legal Science Partners,www.legalsciencepartners.net,2013.0,Narberth,PA,us,19072.0,51-200,Private,...,"Business to Business, Business to Government",NaN,LSP is a private company with a public mission...,LSP uses scientific methods and its own copyri...,101+,NaN,NaN,[],We are spin-off from Temple University and a R...,2014-11-12 14:51:31.971071
368,policymap,PolicyMap,policymap.com,2007.0,Philadelphia,PA,us,19103.0,1-10,Nonprofit,...,"Business to Business, Business to Consumer, Bu...",NaN,"PolicyMap is a national online mapping tool, a...",PolicyMap is a web-based GIS and mapping compa...,51-100,NaN,NaN,[],"Past three years' annual revenue:\n2010: $814,...",2014-11-20 12:43:19.088958
412,sap,SAP,http://www.sap.com/,1972.0,Newtown Square,PA,us,19073.0,"10,001+",Public,...,Business to Business,NaN,SAP is a software company developing enterpris...,SAP is a software company developing enterpris...,NaN,NaN,NaN,[],NaN,2014-11-13 15:59:40.762379
436,speso-health,SpeSo Health,http://www.spesohealth.com/,2013.0,Philadelphia,PA,us,19103.0,1-10,Private,...,Business to Consumer,NaN,SpeSo Health is an online platform that connec...,SpeSo Health is an online platform that connec...,NaN,NaN,NaN,[],NaN,2014-11-20 14:03:02.047012
466,the-schork-report,The Schork Report,schorkreport.com,2005.0,Villanova,PA,us,19085.0,1-10,Private,...,Business to Business,NaN,The Schork Report is a daily subscription rese...,The Schork Report is a daily subscription rese...,NaN,NaN,NaN,[],Mr. Schork guides research and analysis activi...,2014-11-12 18:07:42.360961
467,the-vanguard-group,The Vanguard Group,http://www.vanguard.com/,1975.0,Valley Forge,PA,us,19482.0,"10,001+",Private,...,NaN,NaN,Vanguard is a client-owned investment company ...,"Vanguard is an investment company that, unique...",101+,NaN,NaN,[],NaN,2014-04-03 18:15:09.606368

In [21]:
# how many companies where founded in the year 2000 and in state PA?

us_companies.loc[(us_companies['year_founded']== 2000) & (us_companies['state']=='PA')]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
33,aureus-sciences-now-part-of-elsevier,Aureus Sciences (*Now part of Elsevier),http://www.aureus-sciences.com,2000.0,Philadelphia,PA,us,19103.0,11-50,Private,...,Business to Business,NaN,Aureus Science provides Knowledge Management S...,Aureus Sciences provides databases and informa...,NaN,"Health/Healthcare, Science and Research",NaN,[],NaN,2014-09-23 14:45:29.872164
38,azavea,Azavea,azavea.com,2000.0,Philadelphia,PA,us,19107.0,11-50,Private,...,"Business to Business, Business to Government",NaN,Azavea is a certified B Corporation whose miss...,Azavea is a geospatial analysis (GIS) software...,101+,NaN,NaN,[],Azavea is a bootstrap company that does not ha...,2014-11-12 14:38:14.900193
232,infocommerce-group,InfoCommerce Group,http://infocommercegroup.com,2000.0,Bala Cynwyd,PA,us,19004.0,1-10,Private,...,Business to Business,NaN,InfoCommerce Group is a boutique consulting an...,"The InfoCommerce Group helps clients identify,...",101+,NaN,NaN,[],NaN,2014-11-12 15:33:37.572757

In [22]:
us_companies.loc[us_companies['year_founded'] > 2000]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
8,adaptive,Adaptive,http://www.adaptive.com,2001.0,Irvine,CA,us,92618.0,11-50,Private,...,Business to Business,NaN,Adaptive offers standards-based solutions that...,Adaptive helps organizations leverage what the...,NaN,NaN,NaN,[],NaN,2014-09-18 16:53:46.057500
9,adobe-digital-government,Adobe Digital Government,http://www.adobe.com/solutions/government.html,2009.0,San Jose,CA,us,95510.0,"10,001+",Public,...,Business to Government,NaN,Adobe Digital Government is part of Adobe Syst...,Adobe delivers solutions that help government ...,101+,NaN,NaN,[],NaN,2014-09-18 16:54:15.544335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,yourmapper,YourMapper,http://www.yourmapper.com,2005.0,Louisville,KY,us,40204.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,YourMapper allows users to freely visualize an...,YourMapper provides curated civic open geodata...,51-100,NaN,NaN,[],"We are self funded through the two founders, a...",2014-11-12 18:17:14.315919
524,zillow,Zillow,http://www.zillow.com/,2006.0,Seattle,WA,us,98101.0,"1,001-5,000",Public,...,NaN,NaN,Zillow is a home and real estate marketplace d...,Zillow is an online real estate database.,NaN,NaN,NaN,[],NaN,2014-08-21 15:25:48.411679
525,zocdoc,ZocDoc,http://www.zocdoc.com/,2007.0,New York,NY,us,10012.0,"501-1,000",Private,...,NaN,NaN,ZocDoc is a service to help people find and ma...,Patients use ZocDoc to book appointments with ...,NaN,NaN,NaN,[],NaN,2014-04-03 20:10:00.163762
526,zonability,Zonability,http://www.zonability.com/,2003.0,Austin,TX,us,78702.0,11-50,Private,...,"Business to Business, Business to Government, ...",NaN,Zonability is a web application that provides ...,Zonability is a web application that provides ...,NaN,NaN,NaN,[],NaN,2014-11-20 12:45:39.832982
527,zoner,Zoner,www.Zonerapp.com,2011.0,New York,NY,us,10018.0,1-10,Private,...,"Business to Business, Business to Consumer, no...",NaN,<p>Zoner is a Digital Zoning Optimization soft...,Zoner leverages transparency over fear so a pr...,1-10,NaN,NaN,[],NaN,2014-11-12 18:11:48.966303

In [23]:
# companies with employee count between 1 and 10 or are private?

us_companies.loc[(us_companies['full_time_employees'] == '1-10') | (us_companies['company_type']=='Private')]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,NaN,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,yei-healthcare,Zebu Compliance Solutions,www.zebucompliance.com,1999.0,Portsmouth,OH,us,45662.0,11-50,Private,...,"Business to Business, Business to Government",NaN,Zebu Compliance Solutions improves medical cod...,Zebu Compliance Solutions improves medical cod...,101+,NaN,NaN,[],We place a high premium on local benefit and l...,2016-06-16 14:00:04.753161
523,yourmapper,YourMapper,http://www.yourmapper.com,2005.0,Louisville,KY,us,40204.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,YourMapper allows users to freely visualize an...,YourMapper provides curated civic open geodata...,51-100,NaN,NaN,[],"We are self funded through the two founders, a...",2014-11-12 18:17:14.315919
525,zocdoc,ZocDoc,http://www.zocdoc.com/,2007.0,New York,NY,us,10012.0,"501-1,000",Private,...,NaN,NaN,ZocDoc is a service to help people find and ma...,Patients use ZocDoc to book appointments with ...,NaN,NaN,NaN,[],NaN,2014-04-03 20:10:00.163762
526,zonability,Zonability,http://www.zonability.com/,2003.0,Austin,TX,us,78702.0,11-50,Private,...,"Business to Business, Business to Government, ...",NaN,Zonability is a web application that provides ...,Zonability is a web application that provides ...,NaN,NaN,NaN,[],NaN,2014-11-20 12:45:39.832982
527,zoner,Zoner,www.Zonerapp.com,2011.0,New York,NY,us,10018.0,1-10,Private,...,"Business to Business, Business to Consumer, no...",NaN,<p>Zoner is a Digital Zoning Optimization soft...,Zoner leverages transparency over fear so a pr...,1-10,NaN,NaN,[],NaN,2014-11-12 18:11:48.966303

In [24]:
us_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_name_id      529 non-null    object
 1   company_name         529 non-null    object
 2   url                  529 non-null    object
 3   year_founded         528 non-null    float64
 4   city                 496 non-null    object
 5   state                529 non-null    object
 6   country              529 non-null    object
 7   zip_code             492 non-null    float64
 8   full_time_employees  500 non-null    object
 9   company_type         513 non-null    object
 10  company_category     526 non-null    object
 11  revenue_source       519 non-null    object
 12  business_model       453 non-null    object
 13  social_impact        16 non-null     object
 14  description          529 non-null    object
 15  description_short    529 non-null    object
 16  source_count         226 non-null    object
 17  data_types           142 non-null    object
 18  example_uses         8 non-null      object
 19  data_impacts         529 non-null    object
 20  financial_info       142 non-null    object
 21  last_updated         529 non-null    object
dtypes: float64(2), object(20)
memory usage: 91.0+ KB

In [25]:
us_companies.loc[us_companies['social_impact'].notnull()]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802
15,alltuition,Alltuition,https://www.alltuition.com,2009.0,Chicago,IL,us,60611.0,1-10,Private,...,Business to Consumer,Educational opportunity,Alltuition.com makes sure you donâ€™t miss out o...,Alltuition is an online search engine for stud...,NaN,Education,NaN,[],NaN,2014-09-18 16:56:22.295157
70,careset-systems,CareSet Systems,www.careset.com,2013.0,Houston,TX,us,77024.0,1-10,Private,...,Business to Business,Healthcare access,CareSet is a growing group of idea people serv...,"Your entire healthcare system, hospital, or cl...",NaN,NaN,NaN,[],NaN,2015-03-16 17:10:49.553677
71,caresetcom,Careset.com,www.careset.com,2013.0,Houston,TX,us,77024.0,1-10,Private,...,Business to Business,Healthcare access,CareSet is a growing group of idea people serv...,"Your entire healthcare system, hospital, or cl...",NaN,NaN,NaN,[],NaN,2015-05-18 11:36:54.555628
105,compared-care,Compared Care,comparedcare.com,2014.0,Baltimore,MD,us,NaN,1-10,Private,...,Business to Consumer,Healthcare access,High medical bills are the leading cause of pe...,Compared Care provides a transparent healthcar...,1-10,Health/Healthcare,NaN,[u'New or improved product/service'],We are a fairly new company and all undergradu...,2014-12-18 17:42:17.294388
109,connectdot-llc,CONNECT-DOT LLC.,http://conndot.com,2014.0,Fair Lawn,NJ,us,7410.0,1-10,Private,...,"Business to Consumer, Business to Government","Citizen engagement and participation, Consumer...",CONNECT-DOT are providers of data driven strat...,CONNECT-DOT is a start-up established to empow...,1-10,"Business, Consumer, Demographics & Social, Eco...",NaN,[u'New or improved product/service'],NaN,2014-12-18 17:36:44.864959
131,docket-alarm-inc,"Docket Alarm, Inc.",www.docketalarm.com,2012.0,New York,NY,us,10002.0,1-10,Public,...,"Business to Business, Business to Consumer",Educational opportunity,"Docket Alarms performs full text, advanced leg...",Docket Alarm runs full-text searches across mi...,1-10,"Government Operations, Legal",We take public court dockets and convert them ...,"[u'New or improved product/service', u'New/imp...","Pricing in $99/mo. for full membership, or a p...",2014-12-18 17:17:14.833857
210,headlight,Headlight,HeadlightData.com,2011.0,Austin,TX,us,78701.0,1-10,Private,...,"Business to Government, Business to Nonprofit","Citizen engagement and participation, Consumer...",Headlight is an award-winning online data syst...,Headlight empowers local governments and non-...,11-50,"Agriculture & Food, Business, Demographics & S...",http://charlestonregionaldata.com\nhttp://cent...,[u'New or improved product/service'],"We are a self-funded, bootstrapped startup tha...",2014-12-18 17:33:15.777073
224,ifi-claims-patent-services,IFI CLAIMS Patent Services,www.ificlaims.com,1955.0,Madison,CT,us,6443.0,11-50,Private,...,Business to Business,Educational opportunity,IFI CLAIMS Patent Services has been dedicated ...,IFI CLAIMS provides convenient and affordable ...,11-50,"Legal, patent information",IFI integrates public data from international ...,"[u'Cost efficiency', u'New or improved product...",IFI CLAIMS Patent Services is owned by Fairvie...,2014-11-24 12:31:20.552077
285,mapbox,Mapbox,mapbox.com,2011.0,Washington,DC,us,20009.0,11-50,Private,...,"Business to Business, Business to Consumer, Bu...","Citizen engagement and participation, Consumer...",Mapbox is an open source platform for designin...,Mapbox is an open source platform for designin...,11-50,"Geospatial/Mapping, Tourism, Transportation, W...",Mapbox uses open data in a variety of open dat...,"[u'Cost efficiency', u'New or improved product...",Mapbox is growing fast. The company was fully ...,2014-11-18 22:32:44.352385
332,open-data-nation,Open Data Nation,www.opendatanation.com,2015.0,Washington,DC,us,20011.0,1-10,Private,...,Business to Business,"Citizen engagement and participation, Good gov...",Open Data Nation (opendatanation.com) creates ...,"Open Data Nation creates plug-and-play, produc...",1-10,"Agriculture & Food, Business, Demographics & S...","FIVAR, one of our products, is a web applicati...","[u'Cost efficiency', u'New or improved product...",Open Data Nationâ€™s pricing is structured to in...,2016-06-16 12:57:46.082933
350,patentlyo,Patently-O,www.patentlyo.com,2004.0,Columbia,MO,us,65211.0,1-10,Private,...,"Business to Business, Business to Consumer","Citizen engagement and participation, Consumer...",Patently-O is primarily a media source where w...,Patently-O is the nation's leading patent law ...,1-10,"Government Operations, Legal, Science and Rese...",We rely on publicly available data from the pa...,[u'New/improved research'],We are a very small company whose purpose is p...,2014-12-18 17:18:22.633570
364,placeilivecom,PlaceILive.com,www.placeilive.com,2012.0,Vilnius,AL,us,3231.0,1-10,Private,...,"Business to Business, Business to Consumer","Citizen engagement and participation, Consumer...",When deciding where to live you need to take a...,We provide you with the best neighborhood data...,11-50,"Business, Consumer, Demographics & Social, Eco...",You want to know what is the best place to liv...,[u'New or improved product/service'],"In 2012, business accelerator Startup Highway ...",2015-05-28 16:16:03.427867
383,pya-analytics,PYA Analytics,www.pyaanalytics.com,2013.0,Knoxville,TN,us,37919.0,11-50,Private,...,"Business to Business, Business to Government","Healthcare access, Public safety",PYA Analytics focuses on solving the most chal...,"Given business needs, we architect the solutio...",11-50,"Agriculture & Food, Demographics & Social, Eco...",NaN,"[u'Cost efficiency', u'New or improved product...",NaN,2014-11-24 12:33:47.702691
404,revaluate,Revaluate,https://revaluate.com/,2014.0,New York,NY,us,10022.0,1-10,Private,...,Business to Consumer,"Consumer empowerment, Housing access",Revaluate lets you know what itâ€™s like to live...,Carfax meets Yelp for homes.,101+,"Agriculture & Food, Business, Consumer, Demogr...",We collect data on neighborhoods and homes fro...,"[u'New or improved product/service', u'It is c...",Earlier this year we raised a $115k convertibl...,2014-12-18 17:20:43.499793

## Data Types and Missing values

In [26]:
us_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company_name_id      529 non-null    object
 1   company_name         529 non-null    object
 2   url                  529 non-null    object
 3   year_founded         528 non-null    float64
 4   city                 496 non-null    object
 5   state                529 non-null    object
 6   country              529 non-null    object
 7   zip_code             492 non-null    float64
 8   full_time_employees  500 non-null    object
 9   company_type         513 non-null    object
 10  company_category     526 non-null    object
 11  revenue_source       519 non-null    object
 12  business_model       453 non-null    object
 13  social_impact        16 non-null     object
 14  description          529 non-null    object
 15  description_short    529 non-null    object
 16  source_count         226 non-null    object
 17  data_types           142 non-null    object
 18  example_uses         8 non-null      object
 19  data_impacts         529 non-null    object
 20  financial_info       142 non-null    object
 21  last_updated         529 non-null    object
dtypes: float64(2), object(20)
memory usage: 91.0+ KB

In [27]:
# counting how many nans are present

us_companies.social_impact.isna().sum()

513

In [28]:
us_companies.social_impact.value_counts()

Educational opportunity                                                                                                   3
Healthcare access                                                                                                         3
Citizen engagement and participation, Consumer empowerment, Educational opportunity, Good governance                      2
Small Business Owners                                                                                                     1
Citizen engagement and participation, Good governance, Public safety                                                      1
Citizen engagement and participation, Consumer empowerment                                                                1
Citizen engagement and participation, Good governance, Public safety, Public health, accessibility, and traffic safety    1
Citizen engagement and participation, Consumer empowerment, Good governance, Government Transparancy                      1
Citizen engagement and participation, Consumer empowerment, Housing access, Public safety                                 1
Healthcare access, Public safety                                                                                          1
Consumer empowerment, Housing access                                                                                      1
Name: social_impact, dtype: int64

In [29]:
# 'not quoted'
us_companies.social_impact.dtype

dtype('O')

In [30]:
us_companies.social_impact.value_counts()

Educational opportunity                                                                                                   3
Healthcare access                                                                                                         3
Citizen engagement and participation, Consumer empowerment, Educational opportunity, Good governance                      2
Small Business Owners                                                                                                     1
Citizen engagement and participation, Good governance, Public safety                                                      1
Citizen engagement and participation, Consumer empowerment                                                                1
Citizen engagement and participation, Good governance, Public safety, Public health, accessibility, and traffic safety    1
Citizen engagement and participation, Consumer empowerment, Good governance, Government Transparancy                      1
Citizen engagement and participation, Consumer empowerment, Housing access, Public safety                                 1
Healthcare access, Public safety                                                                                          1
Consumer empowerment, Housing access                                                                                      1
Name: social_impact, dtype: int64

In [31]:
raw.social_impact.isna().sum()

513

In [32]:
raw.social_impact = raw.social_impact.replace(np.nan,'not quoted')

In [33]:
raw.social_impact.fillna('not quoted', inplace=True)

In [34]:
raw.social_impact.value_counts()

not quoted                                                                                                                513
Educational opportunity                                                                                                     3
Healthcare access                                                                                                           3
Citizen engagement and participation, Consumer empowerment, Educational opportunity, Good governance                        2
Small Business Owners                                                                                                       1
Citizen engagement and participation, Good governance, Public safety                                                        1
Citizen engagement and participation, Consumer empowerment                                                                  1
Citizen engagement and participation, Good governance, Public safety, Public health, accessibility, and traffic safety      1
Citizen engagement and participation, Consumer empowerment, Good governance, Government Transparancy                        1
Citizen engagement and participation, Consumer empowerment, Housing access, Public safety                                   1
Healthcare access, Public safety                                                                                            1
Consumer empowerment, Housing access                                                                                        1
Name: social_impact, dtype: int64

In [35]:
raw.head(5)

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",not quoted,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",not quoted,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,not quoted,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802

In [36]:
raw.year_founded.dtype

dtype('float64')

In [ ]:
raw.shape

(529, 22)

In [ ]:
raw.year_founded.isna().sum()

1

In [ ]:
raw.year_founded.value_counts()

2011.0    51
2010.0    50
2012.0    41
2009.0    32
2013.0    30
          ..
1955.0     1
1954.0     1
1799.0     1
1931.0     1
1836.0     1
Name: year_founded, Length: 95, dtype: int64

In [ ]:
raw.loc[raw.year_founded.isna()]

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
291,marlin-alter-and-associates,Marlin Alter and Associates,http://www.marlinalter.com/,NaN,NaN,FL,us,NaN,NaN,NaN,...,NaN,not quoted,"Marlin, Alter & Associates provides background...","Marlin, Alter & Associates provides background...",101+,NaN,NaN,[],NaN,2014-10-23 14:36:57.718144

In [ ]:
raw.dropna(subset=['year_founded'],inplace=True)

In [ ]:
raw.loc[raw.year_founded.isna()]

Empty DataFrame
Columns: [company_name_id, company_name, url, year_founded, city, state, country, zip_code, full_time_employees, company_type, company_category, revenue_source, business_model, social_impact, description, description_short, source_count, data_types, example_uses, data_impacts, financial_info, last_updated]
Index: []

[0 rows x 22 columns]

In [ ]:
raw = us_companies.copy()

In [ ]:
raw.year_founded.mode()

0    2011.0
Name: year_founded, dtype: float64

In [ ]:
raw.year_founded.fillna(raw.year_founded.mode()[0])

0      2010.0
1      2014.0
2      2007.0
3      1965.0
4      1999.0
        ...
524    2006.0
525    2007.0
526    2003.0
527    2011.0
528    1912.0
Name: year_founded, Length: 529, dtype: float64

In [ ]:
raw.year_founded.fillna(raw.year_founded.mode()[0],inplace=True)

In [ ]:
raw.loc[raw.company_name_id == 'marlin-alter-and-associates']

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
291,marlin-alter-and-associates,Marlin Alter and Associates,http://www.marlinalter.com/,2011.0,NaN,FL,us,NaN,NaN,NaN,...,NaN,NaN,"Marlin, Alter & Associates provides background...","Marlin, Alter & Associates provides background...",101+,NaN,NaN,[],NaN,2014-10-23 14:36:57.718144

In [ ]:
raw.year_founded.dtype

dtype('float64')

In [ ]:
raw.year_founded.isna().sum()

0

In [ ]:
raw.year_founded = raw.year_founded.astype('int')

0      2010
1      2014
2      2007
3      1965
4      1999
       ...
524    2006
525    2007
526    2003
527    2011
528    1912
Name: year_founded, Length: 529, dtype: int64

In [ ]:
raw.year_founded.value_counts()

2011    52
2010    50
2012    41
2009    32
2013    30
        ..
1955     1
1954     1
1799     1
1931     1
1836     1
Name: year_founded, Length: 95, dtype: int64

In [38]:
raw.head()

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",not quoted,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",not quoted,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,not quoted,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802

In [39]:
raw.data_impacts.value_counts()

[]                                                                                                                           515
[u'New or improved product/service']                                                                                           5
[u'Cost efficiency', u'New or improved product/service', u'Revenue growth', u'New/improved research']                          2
[u'Cost efficiency', u'Job growth', u'Revenue growth']                                                                         1
[u'New or improved product/service', u'Revenue growth']                                                                        1
[u'New or improved product/service', u'New/improved research']                                                                 1
[u'Cost efficiency', u'New or improved product/service', u'Job growth', u'Revenue growth', u'Identify new opportunities']      1
[u'Cost efficiency', u'New or improved product/service', u'Job growth', u'Revenue growth', u'New/improved research']           1
[u'New/improved research']                                                                                                     1
[u'New or improved product/service', u'It is central to our business']                                                         1
Name: data_impacts, dtype: int64

In [41]:
raw.data_impacts.replace('u','')

0                                                     []
1      [u'Cost efficiency', u'Job growth', u'Revenue ...
2                                                     []
3                                                     []
4                                                     []
                             ...
524                                                   []
525                                                   []
526                                                   []
527                                                   []
528                                                   []
Name: data_impacts, Length: 529, dtype: object

In [40]:
raw.data_impacts[1]

"[u'Cost efficiency', u'Job growth', u'Revenue growth']"

In [ ]:
'[' , ']' ,'u\'','/'

In [112]:
raw.data_impacts.head()

0                                                   []
1    [u'Cost efficiency', u'Job growth', u'Revenue ...
2                                                   []
3                                                   []
4                                                   []
Name: data_impacts, dtype: object

In [49]:
raw.data_impacts = raw.data_impacts.apply(lambda x: x.replace('u','').replace('/',' '))

## Renaming and Combining

In [64]:
raw_user_bio = pd.read_csv("data/user_bio_data.csv")
user_bio = raw_user_bio.copy()

In [65]:
user_bio.columns

Index(['Unnamed: 0', 'Name', 'Gender', 'Birthdate', 'Address'], dtype='object')

In [66]:
user_bio.head()

,Unnamed: 0,Name,Gender,Birthdate,Address
0,0,Bertha Weinhold-Kade,F,1926-07-22,Marietta-Benthin-Platz 96\n17232 Mallersdorf
1,1,Ewald KÃ¤ster-Ditschlerin,F,1938-02-28,Dowergweg 6/3\n49837 Wittstock
2,2,Egbert Radisch-HÃ¤nel,F,1988-04-21,Pergandeallee 9/7\n27889 Hainichen
3,3,Ing. Veronika Seidel,F,1934-05-07,Hendriksring 92\n82085 Sondershausen
4,4,Franz Reichmann,M,1906-10-26,Brunhilde-Dehmel-Allee 0/8\n00474 Eggenfelden

In [67]:
user_bio.columns

Index(['Unnamed: 0', 'Name', 'Gender', 'Birthdate', 'Address'], dtype='object')

In [68]:
user_bio.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [69]:
user_bio.head()

,ID,Name,Gender,Birthdate,Address
0,0,Bertha Weinhold-Kade,F,1926-07-22,Marietta-Benthin-Platz 96\n17232 Mallersdorf
1,1,Ewald KÃ¤ster-Ditschlerin,F,1938-02-28,Dowergweg 6/3\n49837 Wittstock
2,2,Egbert Radisch-HÃ¤nel,F,1988-04-21,Pergandeallee 9/7\n27889 Hainichen
3,3,Ing. Veronika Seidel,F,1934-05-07,Hendriksring 92\n82085 Sondershausen
4,4,Franz Reichmann,M,1906-10-26,Brunhilde-Dehmel-Allee 0/8\n00474 Eggenfelden

In [70]:
# read another dataset
personal_raw = pd.read_csv('data/personal_data.csv')
personal_data = personal_raw.copy()

In [81]:
transaction_raw = pd.read_csv('data/transactional_data.csv')

In [85]:
transaction_data = transaction_raw.copy()

In [71]:
personal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2000 non-null   int64
 1   FirstName               2000 non-null   object
 2   LastName                2000 non-null   object
 3   Phone_Number            2000 non-null   object
 4   Email                   2000 non-null   object
 5   Social_Security_Number  2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB

In [72]:
personal_data.head()

,Unnamed: 0,FirstName,LastName,Phone_Number,Email,Social_Security_Number
0,0,Megan,Chang,+60 (487) 647 5938,MegChang@archer-patel.org,151-40-1619
1,1,Jessica,Nolan,+57 (815) 659 3877,JesNolan@gmail.com,096-93-6535
2,2,Jennifer,Glover,+09 (753) 513 9332,JenGlover@hotmail.com,502-14-4939
3,3,Andrea,Mann,+85 (839) 894 7196,AndMann@gmail.com,034-79-4261
4,4,Thomas,Davis,+22 (018) 684 8339,ThoDavis@yahoo.com,628-15-7970

In [73]:
personal_data.rename(columns={'Unnamed: 0':'ID'}, inplace=True)
# personal_data.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [82]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     2000 non-null   int64
 1   Unnamed: 0       2000 non-null   int64
 2   Company          2000 non-null   object
 3   Address          2000 non-null   object
 4   Credit_Card      2000 non-null   int64
 5   TransactionDate  2000 non-null   object
 6   ProductId        2000 non-null   object
dtypes: int64(3), object(4)
memory usage: 109.5+ KB

In [86]:
transaction_data.head()

,Unnamed: 0.1,Unnamed: 0,Company,Address,Credit_Card,TransactionDate,ProductId
0,0,0,Montes-Jones,37717 Ryan Mill South Jasonmouth VA 59400,3557184135736778,2018-03-25 16:36:10,PID78215
1,1,1,Gibbs Conway and Jackson,89691 Michael Plaza New Erin NC 43260,3522951015196931,2012-10-31 12:00:43,PID87312
2,2,2,Parker LLC,95776 Dale Groves Suite 623 South Patrick MN ...,3559719075474316,2001-07-24 11:57:25,PID01858
3,3,3,Woodward LLC,PSC 9225 Box 1564 APO AA 44738,4010087037805,2006-07-30 01:13:46,PID17247
4,4,4,Chavez Hendricks and Huang,98427 Warren Tunnel Suite 878 Josephton DE 35049,377480023973216,1972-08-06 06:24:40,PID62132

In [96]:
transaction_data.columns

Index(['ID', 'Company', 'Address', 'Credit_Card', 'TransactionDate',
       'ProductId'],
      dtype='object')

In [95]:
transaction_data = transaction_data.drop(columns=['Unnamed: 0.1']).rename(columns={'Unnamed: 0':'ID'})

In [102]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2000 non-null   int64
 1   Company          2000 non-null   object
 2   Address          2000 non-null   object
 3   Credit_Card      2000 non-null   int64
 4   TransactionDate  2000 non-null   object
 5   ProductId        2000 non-null   object
dtypes: int64(2), object(4)
memory usage: 93.9+ KB

In [103]:
personal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      2000 non-null   int64
 1   FirstName               2000 non-null   object
 2   LastName                2000 non-null   object
 3   Phone_Number            2000 non-null   object
 4   Email                   2000 non-null   object
 5   Social_Security_Number  2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB

In [104]:
# pd.merge()

personal_data.merge(transaction_data, on=['ID'], how='inner')

,ID,FirstName,LastName,Phone_Number,Email,Social_Security_Number,Company,Address,Credit_Card,TransactionDate,ProductId
0,0,Megan,Chang,+60 (487) 647 5938,MegChang@archer-patel.org,151-40-1619,Montes-Jones,37717 Ryan Mill South Jasonmouth VA 59400,3557184135736778,2018-03-25 16:36:10,PID78215
1,1,Jessica,Nolan,+57 (815) 659 3877,JesNolan@gmail.com,096-93-6535,Gibbs Conway and Jackson,89691 Michael Plaza New Erin NC 43260,3522951015196931,2012-10-31 12:00:43,PID87312
2,2,Jennifer,Glover,+09 (753) 513 9332,JenGlover@hotmail.com,502-14-4939,Parker LLC,95776 Dale Groves Suite 623 South Patrick MN ...,3559719075474316,2001-07-24 11:57:25,PID01858
3,3,Andrea,Mann,+85 (839) 894 7196,AndMann@gmail.com,034-79-4261,Woodward LLC,PSC 9225 Box 1564 APO AA 44738,4010087037805,2006-07-30 01:13:46,PID17247
4,4,Thomas,Davis,+22 (018) 684 8339,ThoDavis@yahoo.com,628-15-7970,Chavez Hendricks and Huang,98427 Warren Tunnel Suite 878 Josephton DE 35049,377480023973216,1972-08-06 06:24:40,PID62132
...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Michele,Duncan,+23 (064) 847 0849,MicDuncan@gmail.com,714-34-4913,Tucker-Clark,4732 Evelyn Corner Apt. 398 West Tammy IA 07195,375712488876381,1999-09-27 21:24:06,PID42209
1996,1996,Julia,Anderson,+84 (526) 905 4381,JulAnderson@lewis.info,864-26-1985,Torres-Chandler,695 Jonathan Ridges Suite 934 Lake Jessica OR...,4655529182919900,1991-02-24 09:23:33,PID26483
1997,1997,James,Jones,+46 (739) 877 1636,JamJones@ellison.com,853-36-7822,Baker Jimenez and Vega,9225 Natasha Fields Port Josephview KY 71942,373198531899632,1974-09-27 01:22:35,PID88717
1998,1998,Ethan,Huber,+05 (694) 589 2354,EthHuber@gmail.com,835-75-2867,Shepherd and Sons,07432 Erin Corners Nicholasfort MS 81171,4289025513495,1971-09-10 10:28:50,PID04003
1999,1999,Paul,White,+46 (397) 053 6084,PauWhite@yahoo.com,489-41-8561,Shepherd-Gardner,2025 Hughes River Port Lisa TN 41951,6523803985543042,2009-01-05 07:39:35,PID76320

In [108]:
# pd.join()

left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [109]:
right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [110]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [111]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [113]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

## grouping

In [115]:
us_companies.head()

,company_name_id,company_name,url,year_founded,city,state,country,zip_code,full_time_employees,company_type,...,business_model,social_impact,description,description_short,source_count,data_types,example_uses,data_impacts,financial_info,last_updated
0,3-round-stones-inc,"3 Round Stones, Inc.",http://3RoundStones.com,2010.0,Washington,DC,us,20004.0,1-10,Private,...,"Business to Business, Business to Consumer",NaN,3 Round Stones produces a platform for publish...,Our Open Source platform is used by the Fortun...,NaN,NaN,NaN,[],"3 Round Stones is a profitable, self-funded, w...",2014-11-12 14:44:25.969871
1,48-factoring-inc,48 Factoring Inc.,https://www.48factoring.com,2014.0,Philadelphia,PA,us,19087.0,51-200,Private,...,Business to Business,Small Business Owners,The company mission is to provide finance to s...,48 Factoring Inc. is one of the best financial...,11-50,Business,NaN,"[u'Cost efficiency', u'Job growth', u'Revenue ...",NaN,2015-05-18 11:36:39.902880
2,5psolutions,5PSolutions,www.5psolutions.com,2007.0,Fairfax,VA,us,22003.0,1-10,Private,...,"Business to Business, Business to Consumer, Bu...",NaN,"At 5PSolutions, we wish to make all basic info...",5PSolutions are artisans of mobile platforms.,NaN,NaN,NaN,[],NaN,2014-11-12 15:09:35.485949
3,abt-associates,Abt Associates,abtassoc.com,1965.0,Cambridge,MA,us,2138.0,"1,001-5,000",Private,...,NaN,NaN,"Abt Associates is a mission-driven, internatio...","Abt Associates is a mission-driven, global lea...",101+,NaN,NaN,[],Employee-owned company. $552M/year.,2014-09-11 17:23:21.390289
4,accela,Accela,http://www.accela.com,1999.0,San Ramon,CA,us,94583.0,"501-1,000",Private,...,Business to Consumer,"Citizen engagement and participation, Good gov...",Accela powers thousands of services and millio...,Accela improves citizen engagement by making i...,101+,"Health/Healthcare, Housing, Public Safety",NaN,[],NaN,2014-09-16 16:30:49.172802

In [129]:
# count of all the companies per city?

company_per_city = us_companies.groupby(['state','city'], as_index=False).agg({'company_name_id':'count'}) # .to_csv('output/company_percity.csv')
company_per_city

    state         city  company_name_id
0      AL      Vilnius                1
1      AR  Little Rock                1
2      AZ      Phoenix                1
3      AZ    Scotsdale                1
4      AZ        Tempe                1
..    ...          ...              ...
201    WA    Sammamish                1
202    WA      Seattle               15
203    WI      Madison                2
204    WI    Milwaukee                1
205    WI       Neenah                1

[206 rows x 3 columns]

In [146]:
us_companies.columns

Index(['company_name_id', 'company_name', 'url', 'year_founded', 'city',
       'state', 'country', 'zip_code', 'full_time_employees', 'company_type',
       'company_category', 'revenue_source', 'business_model', 'social_impact',
       'description', 'description_short', 'source_count', 'data_types',
       'example_uses', 'data_impacts', 'financial_info', 'last_updated'],
      dtype='object')

In [153]:
l = [[1, 2000, 3], [1, 8000, 40], [2, 30, 30], [2, 3000, 27]]
df = pd.DataFrame(l, columns=["customerid", "amount", "age"])
df

   customerid  amount  age
0           1    2000    3
1           1    8000   40
2           2      30   30
3           2    3000   27

In [160]:
pd.pivot_table(
    df,
    index=['customerid'],
    values=['amount'],
    aggfunc={'amount':'sum','customerid':'count'},
)

            amount  customerid
customerid
1            10000           2
2             3030           2

In [145]:
pd.pivot_table(
    us_companies,
    index=['state','city'],
    values=['company_name_id'],
    aggfunc={'company_name_id':'count'},
).reset_index()

    state         city  company_name_id
0      AL      Vilnius                1
1      AR  Little Rock                1
2      AZ      Phoenix                1
3      AZ    Scotsdale                1
4      AZ        Tempe                1
..    ...          ...              ...
201    WA    Sammamish                1
202    WA      Seattle               15
203    WI      Madison                2
204    WI    Milwaukee                1
205    WI       Neenah                1

[206 rows x 3 columns]

In [142]:
company_per_city.sort_values(by=['state','city','company_name_id'], ascending=True)

    state         city  company_name_id
0      AL      Vilnius                1
1      AR  Little Rock                1
2      AZ      Phoenix                1
3      AZ    Scotsdale                1
4      AZ        Tempe                1
..    ...          ...              ...
201    WA    Sammamish                1
202    WA      Seattle               15
203    WI      Madison                2
204    WI    Milwaukee                1
205    WI       Neenah                1

[206 rows x 3 columns]